<div class="row g-3">
    <div class="col-md-3">
      <div class="card p-3 shadow-sm text-center">
        <h5>Total Orders</h5>
        <h3>{{ totalOrders }}</h3>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card p-3 shadow-sm text-center">
        <h5>Total Revenue</h5>
        <h3>\${{ totalRevenue }}</h3>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card p-3 shadow-sm text-center">
        <h5>Today’s Revenue</h5>
        <h3>$ {{ totalRevenue | number:'1.2-2' }}</h3>
        <h3>$ {{ todayRevenue | number:'1.2-2' }}</h3>

      </div>
    </div>
    <div class="col-md-3">
      <div class="card p-3 shadow-sm text-center">
        <h5>Pending Orders</h5>
        <h3>{{ pendingOrders }}</h3>
      </div>
    </div>
  </div>
  